{{#each this}}
  <li class='photo-card'>

    <img
      src='{{webformatURL}}'
      alt=''
      width='320'
      data-source='{{largeImageURL}}'
    />

    <div class='stats'>
      <p class='item'>
        <i class='icons'>thumb_up</i>
        {{likes}}
      </p>
      <p class='item'>
        <i class='icons'>visibility</i>
        {{views}}
      </p>
      <p class='item'>
        <i class='icons'>comment</i>
        {{comments}}
      </p>
      <p class='item'>
        <i class='icons'>cloud_download</i>
        {{downloads}}
      </p>
    </div>

  </li>
{{/each}}